
.dasdboard{
    display: flex;
    background-color: var(--color-background);
    flex-wrap: wrap;
    justify-content: space-between;


    .sidebarDas{
        width: 15%;
    }

    main{
        margin: 0 20px ;
        width: 65%;
        margin-top: 1.4rem;
        font-size: 1rem;

        .analyse{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.6rem;

            h3{
                margin-left: 0.6rem;
                font-size: 1rem;
            }

            svg{
                width: 7rem;
                height: 7rem;

                circle{
                    fill: none;
                    stroke-width: 10;
                    stroke-linecap: round;
                    transform: translate(5px, 5px);
                }
            }

            .sales{

                svg{

                    circle{
                        stroke: var(--color-success);
                        stroke-dashoffset: -30%;
                        stroke-dasharray: 200;
                    }
                }

                .status{

                    .info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .progress{
                        position: relative;
                        width: 92px;
                        height: 92px;
                        border-radius: 50%;

                        .percentage{
                            position: absolute;
                            top: -3px;
                            left: -1px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            width: 100%;

                            .personAddIcon{
                                font-size: 50%;
                            }
                            
                        }
                    }
                }
            }

            .visits{
                svg{

                    circle{
                        stroke: var(--color-danger);
                        stroke-dashoffset: -30%;
                        stroke-dasharray: 200;
                    }
                }
                .status{

                    .info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .progress{
                        position: relative;
                        width: 92px;
                        height: 92px;
                        border-radius: 50%;

                        .percentage{
                            position: absolute;
                            top: -3px;
                            left: -1px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            .searches{
                svg{

                    circle{
                        stroke: var(--color-primary);
                        stroke-dashoffset: -30%;
                        stroke-dasharray: 200;
                    }
                }
                .status{

                    .info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .progress{
                        position: relative;
                        width: 92px;
                        height: 92px;
                        border-radius: 50%;

                        .percentage{
                            position: absolute;
                            top: -3px;
                            left: -1px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .analyse>div{
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            margin-top: 1rem;
            box-shadow: var(--box-shadow);
            cursor: pointer;
            transition: all 0.3s ease;

            .status{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &:hover{
                box-shadow: none;
            }

        }

        .new-users{
            margin-top: 1.3rem;

            .user-list{ 
                background-color: var(--color-white);
                padding: var(--card-padding);
                border-radius: var(--card-border-radius);
                margin-top: 1rem;
                box-shadow: var(--box-shadow);
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 1.4rem;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    box-shadow: none;
                }

                .user{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 5rem;
                        height: 5rem;
                        margin-bottom: 0.4rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }

        .recent-orders{
            margin-top: 1.3rem;

            h2{
                margin-bottom: 0.8rem;
            }

            a{
                text-align: center;
                display: block;
                margin: 1rem auto;
                color: var(--color-primary);
            }

            table{
                background-color: var(--color-white);
                width: 100%;
                padding: var(--card-padding);
                text-align: center;
                box-shadow: var(--box-shadow);
                border-radius: var(--card-border-radius);
                transition: all 0.3s ease;

                &:hover{
                    box-shadow: none;
                }

                body{

                    tr{

                        &:last-child{

                            td{
                                border: none;
                            }
                        }
                    }

                    td{
                        height: 2.8rem;
                        border-bottom: 1px solid var(--color-light);
                        color: var(--color-dark-variant);
                    }
                }
            }
        }
    }

    .right-section{
        font-size: 1rem;
        margin-top: 1.4rem;
        width: 15%;
        padding-right: 2%;

        .navDash{
            display: flex;
            justify-content: end;
            gap: 2rem;
            
            button{
                display: none;
            }

            .dark-mode{
                background-color: var(--color-light);
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 1.6rem;
                width: 4.2rem;
                cursor: pointer;
                border-radius: var(--border-radius-1);
    
                span{
                    font-size: 1.2rem;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                span.active{
                    background-color: var(--color-primary);
                    color: white;
                    border-radius: var(--border-radius-1);
                }
            }
    
            .profile{
                display: flex;
                gap: 2rem;
                text-align: right;

                .info{
    
    
                    .text-muted{
    
                    }
                }
    
                .profile-photo{
                    width: 2.8rem;
                    height: 2.8rem;
                    border-radius: 50%;
                    overflow: hidden;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        .user-profile{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 1rem;
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            box-shadow: var(--box-shadow);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover{
                box-shadow: none;
            }

            

            .logoProfile{

                h2{
                    margin-bottom: 0.2rem;

                }

                img{
                    width: 11rem;
                    height: auto;
                    margin-bottom: 0.8rem;
                    border-radius: 50%;
                }
            }

            
        }
        .reminders{
            margin-top: 2rem;


            .headerReminds{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.8rem;

                span{
                    padding: 10px;
                    box-shadow: var(--box-shadow);
                    background-color: var(--color-white);
                    border-radius: 50%;
                }
            }

            .notification{
                background-color: var(--color-white);
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 0.7rem;
                padding: 1.4rem var(--card-padding);
                border-radius: var(--border-radius-2);
                box-shadow: var(--box-shadow);
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    box-shadow: none;
                }

                .iconNotify{
                    padding: 0.6rem;
                    color: var(--color-white);
                    background-color: var(--color-success);
                    border-radius: 20%;
                    display: flex;
                }

                .contentNotify{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;
                    width: 100%;
                    .info{

                        .text-muted{

                        }
                    }
                }
            }

            .notification.deactive .iconNotify{
                background-color: var(--color-danger);
            }

            .add-reminder{
                background-color: var(--color-white);
                border: 2px dashed var(--color-primary);
                color: var(--color-primary);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover{
                    background-color: var(--color-primary);
                    color: white;
                }

                div{
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
 
    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-orders table{
        width: 83vw;
    }

    main table thead tr th:last-child, 
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child, 
    main table tbody tr td:first-child{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;

    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .navDash{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--pading-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .navDash .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .navDash button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .navDash button span{
        font-size: 2rem;
    }
}

.chartDiv{
     display: flex;
     margin-top: 20px;

    .chartDay {
      width: 50%;
      margin-right: 10px;
    }

    .chartMonth {
      width: 50%;
      margin-left: 10px;
    }

    .buttonExport {
      padding: 6px 16px;
      outline: none;
      background-color: #FF0060;
      z-index: 4;
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      color: #fff;
      font-weight: 600;
      cursor: pointer;

      .iconBtn {
        margin-right: 6px;
      }
    }
}