
.detail{
    margin-top: 200px;
    padding: 0 60px;
    margin-bottom: 80px;
    color: #222222;

    .titleDetail{
        display: flex;
        justify-content: space-between;
    }

    .thumnailImage{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        .firstCol{
            width: 49%;
            position: relative;
            border-right: 1px solid #000;
            img{
                width: 70%;
                // display: block;
                height: 70%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        
     

        .secondCol{
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            // .rowEquipment1{
            //     display: flex;
            //     justify-content: space-between;
            //     width: 100%;
            // }
            .equipment1{

                .nameEquipment1{
                    font-size: 19px;
                }
                .boldEquipment{
                    font-size: 21px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                }
            }
        }
        

        .backIconDetail{
            position: absolute;
            bottom: 35%;
            left: 5%;
            padding: 4px;
            background-color: rgba($color: #fff, $alpha: 0.8);
            border-radius: 50%;
            cursor: pointer;

            &:hover{
                transition: .4s;
                transform: scale(1.1);
                background-color: #fff;
            }
        }
        
        .nextIconDetail{
            position: absolute;
            left: 33%;
            bottom: 35%;
             padding: 4px;
            background-color: rgba($color: #fff, $alpha: 0.8);
            border-radius: 50%;
            margin-right: 4%;
            cursor: pointer;

            &:hover{
                transition: .4s;
                transform: scale(1.1);
                background-color: #fff;
            }
        }

        
       

        .thirdCol{
            
            .topRightImg{
                border-top-right-radius: 10px;
            }
            
            .bottomRightImg{
                border-bottom-right-radius: 10px;
            }
        }
    }

    .content{
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-top: 30px;

        .leftContent{
            width: 70%;
            display: flex;
            flex-direction: column;

            .detailContent{

                .detailTitle{
                    padding: 10px 0 20px 0;

                    .roomName{

                    }

                    .descriptionContent{
                        font-size: 1rem;
                        color: #222222;
                    }
                }
            }

            .favouriteRoom{
                font-size: 1rem;
                font-weight: bold;
                display: flex;
                padding: 20px 20px;
                border: 1px solid #ccc;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;

                .customerFavourite1{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .likeRoom{
                        text-align: center;
                    }
                }

                .customerFavourite2{
                    width: 35%;
                    display: flex;
                    align-items: center;
                }

                .customerFavourite3{
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .customerFavourite4{
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    

                    position: relative;
                    padding-left: 16px;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: 5%;
                        width: 1px; /* Chiều rộng của đường thẳng dọc */
                        height: 60%; /* Chiều cao của đường thẳng dọc (bằng chiều cao của thẻ li) */
                        background-color: #ccc; /* Màu sắc của đường thẳng dọc */
                    }
                }
            }

            .lessorBlog{
                margin: 20px 0;
                .lessor{
                    display: flex;
                    border-bottom: 1px solid #ccc;
                    padding: 20px 0;


                    .avatar{
                        width: 5%;
                        font-size: 40px;
                    }

                    .detailLessor{
                        width: 75%;

                        .establish{
                            font-size: 1rem;
                            font-weight: 600;
                        }

                        .experience{
                            color: #717171;
                            font-size: 1rem;
                        }
                    }
                }

                .bottomLessorBlog{
                    padding: 20px 0;
                    border-bottom: 1px solid #ccc;
                    .place{ 
                        
                    }

                    .roomDescription{
                        margin: 10px 0;
                        padding: 8px 20px;
                        border: 1px solid #ccc;
                        width: 15%;
                        border-radius: 10px;
                        font-size: 1rem;

                    }
                }

                .convenience{
                    padding: 10px 0;

                    .equipments{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        .equipment{
                            width: 48%;
                            margin: 10px 0;
                            display: flex;
                            align-items: center;

                            .nameEquipment{
                                padding-left: 10px;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }

        .rightContent{
            width: 30%;
        }
    }

    .ratingBlog{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        border-bottom: 1px solid #ccc;
        
        .numberStar{
            display: flex;
            align-items: center;
            justify-content: center;

            .starRating{
                font-size: 80px;
                font-weight: bold;
            }

            img{
                width: 18%;
            }
        }

        .ratingTitle{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .span{
                font-weight: bold;
                font-size: 1.3rem;
            }

            .titleDes{
                width: 40%;
                font-size: 1rem;
            }
        }
    }

    .commentAction{
        padding: 30px 0;
        border-bottom: 1px solid #ccc;
        display: flex;
        

        .avatarCommentAction{
            width: 5%;
            font-size: 40px;
        }

        .detailCommentAction{
            width: 50%;
            .ratingStarCommentAction{

            }

            .inputComment{
                font-size: 1rem;
                outline: none;
                border-bottom: 2px solid #ccc;
                padding: 4px 8px;
                width: 100%;
                &:focus{
                  border-bottom: 2px solid #f9004d;
                    transition: .4s;
                }
            }

            .btnComment{
                text-align: right;
                display: flex;
                justify-content: right;
                align-items: center;
                
                .btnCommentAction{
                    padding: 8px 22px;
                    font-size: 1rem;
                    border-radius: 10px;
                    background-color: #f9004d;
                    color: #fff;
                    font-weight: 600;
                    cursor: pointer;
                    transition: .4s;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

                .clearIcon{
                    font-size: 20px;
                    margin-right: 20px;
                    padding: 4px ;
                    cursor: pointer;
                    transition: ease-in-out .4s;
                    background-color: #fff;
                    color: #000;
                    display: flex;
                    border-radius: 50%;
                    border: 2px solid #000;

                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .comments{
        display: flex;
        padding: 30px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }

    .mapDetail{
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        .titleMap{
            padding-bottom: 10px;
            font-weight: bold;
        }

        .mapImage{
            width: 100%;
        }

        .placeName{
            font-size: 1.5rem;
            padding: 10px 0;
            font-weight: bold;
        }

        .placeDescription{
            font-size: 1.2rem;
        }
    }

    .detailLessor{
        border-bottom: 1px solid #ccc;
        padding: 20px 0;

        .topDetailLessor{
            margin-bottom: 20px;
            .lessor{
                display: flex;
    
    
                .avatar{
                    width: 5%;
                    font-size: 40px;
                }
    
                .detailLessorTop{
                    width: 75%;
    
                    .establish{
                        font-size: 1rem;
                        font-weight: 600;
                    }
    
                    .experience{
                        color: #717171;
                        font-size: 1rem;
                    }
                }
            }
        }

        .bottomDetailLessor{
            display: flex;
            font-size: 1rem;
            width: 100%;
            
            .leftBottomDetailLessor{
                display: flex;
                flex-direction: column;
                width: 70%;
                .ratingLessor{
                    display: flex;
                    margin-bottom: 20px;
                    
                    .numberRatingLessor{
                        display: flex;
                        align-items: center;

                        span{
                            margin-left: 8px;
                        }
                    }
                    .authenLessor{
                        padding-left: 40px;
                        display: flex;
                        align-items: center;
                        span{
                            margin-left: 8px;
                        }
                    }
    
                    
                }

                .lessorDescription{
                    width: 60%;
                }
               
            }

            .rightBottomDetailLessor{
                display: flex;
                flex-direction: column;
                width: 25%;

                .contactLessor{
                    font-weight: 600;
                    padding: 13px 23px;
                    border-radius: 10px;
                    width: 60%;
                    margin: 20px 0;
                    background-color: transparent;
                    border: 1px solid #000;
                    cursor: pointer;

                    &:hover{
                        transition: .6s;
                        transform: scale(1.1);
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                        color: #fff;
                        background-color: #f9004d;
                        border: 1px solid transparent;
                    }
                }
            }

        }
    }
}