.cardWishListPage {
    cursor: pointer;
    margin-right: 30px;

    .imageWishList {

        img {
            border-radius: 10px;
            border: 4px solid #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    .titleWishList {
        font-size: 1rem;
        padding: 4px 0;
    }
}