.cardWishListPage {
    cursor: pointer;
    margin-right: 30px;
    width: 100%;
    position: relative;

    .imageWishList {

        img {
            border-radius: 10px;
            width: 100%;
            border: 4px solid #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    .titleWishList {
        font-size: 1rem;
        padding: 4px 0;
    }

    .heartCard{
        position: absolute;
        top: 6%;
        right: 4%;
        color: #fff;
        cursor: pointer;

        &:hover{
            color: pink;
        }
    }

}

