
.comment{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    font-size: 1rem;

    .userComment{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .avatarComment{
            width: 20%;
            display: flex;
            justify-content: center;
            cursor: pointer;
            img{
                width: 50%;
                height: 30%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .detailUserComment{
            display: flex;
            flex-direction: column;

            .topDetailUserComment{
                display: flex;
                align-items: center;
                .usernameComment{
                    font-weight: 700;
                }
                .editIcon{
                    font-size: 20px;
                    margin-left: 10px;
                    color: blue;
                    cursor: pointer;
                    transition: ease-in-out .4s;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

                .deleteIcon{
                    font-size: 20px;
                    margin-left: 10px;
                    color: red;
                    cursor: pointer;
                    transition: ease-in-out .4s;

                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }

            .placeComment{
                
            }
        }
    }

    .userRating{
        display: flex;
        align-items: center;

        .numberStarComment{
            position: relative;
            padding-left: 16px;
            margin-left: 8px;
            margin-bottom: 10px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13%;
                border-radius: 50%;
                width: 3px; /* Chiều rộng của đường thẳng dọc */
                height: 3px; /* Chiều cao của đường thẳng dọc (bằng chiều cao của thẻ li) */
                background-color: #ccc; /* Màu sắc của đường thẳng dọc */
                }
        }
    }
}