.header{
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    margin-bottom: 50px;

    .topHeader{
        background-color: rgba($color: #ccc, $alpha: 0.2);
        padding: 20px 0;
        font-size: 18px;
        display: flex;
        justify-content: center;
        font-weight: 550;
    }

    .topHeader.scrolled {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

    }

    .topHeader.disScrolled{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 60px 0 60px;
        // border-top: 0.2px solid #ccc;
        // border-bottom: 0.2px solid #ccc;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;  
        background-color: #fff;
        transition: opacity 0.5s ease;       

        .logoHeader{
            width: 15%;
            cursor: pointer;
            word-spacing: 8px;
            letter-spacing: 3px;
            font-size: 28px;
            .logo1{
                color: #ff385c;
            }

            .logo2{
                color: #717171;
            }
            
            img{
                width: 30%;
                border-radius: 50%;
            }
        }
        

        .centerHeader{
            width: 40%;
            display: flex;
            justify-content: center;
            height: 100px;
            .titleBanner{
                font-size: 20px;
            }

             .banner{
                    font-size: 12px;
                }

            .search{
                display: flex;
                justify-content: center;
                width: 110%;
                flex-wrap: wrap;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 50px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

              

                .searchIcon{
                    
                    
                    .actionSearch{
                        display: flex;
                        justify-content: space-between;

                        .leftSearch{
                            display: flex;
                            flex-direction: column;
                        }

                        .rightSearch{
                            width: 40px;
                            height:40px;
                            display: flex;
                            align-items: center;
                            margin-top: 2px;
                            justify-content: center;
                            background-color: #ff385c;
                            border-radius: 50%;
                            .iconSearch{
                                color: #fff;
                                font-size: 26px;
                            }

                            &:hover{
                                background-color: #f6173f;
                                transition: .4s;
                                transform: scale(1.05);
                            }
                        }
                    }
                    // .iconSearch{
                    //     background-color: #ff385c;
                    //     color: #fff;
                    //     width: 40px;
                    //     height: 40px;
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    //     border-radius: 25px;
                    //     cursor: pointer;
                    // }
                }
              
               
            }

            .beforeVertical{
                position: relative;
                padding-left: 16px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 5%;
                    width: 1px; /* Chiều rộng của đường thẳng dọc */
                    height: 50%; /* Chiều cao của đường thẳng dọc (bằng chiều cao của thẻ li) */
                    background-color: #ccc; /* Màu sắc của đường thẳng dọc */
                }
            }

            .search>li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                cursor: pointer;
                padding: 0 30px;

                 
                &:hover{
                    background-color: rgba($color: #ccc, $alpha: 0.3);
                    border-radius: 50px;
                    transition: .4s;
                    &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0px; /* Chiều rộng của đường thẳng dọc */
                    height: 100%; /* Chiều cao của đường thẳng dọc (bằng chiều cao của thẻ li) */
                    background-color: #ccc; /* Màu sắc của đường thẳng dọc */
                    }
                }              
                

                span{
                    font-weight: 600;
                    width: 80%;
                }

                input{
                    outline: none;
                    width: 90%;
                    padding: 8px 4px 0 0;
                    background-color: transparent;

                    &:focus{
                       
                    }

                    &::placeholder{
                        color: #ccc;
                    }
                }
            }

            
        }

        .action{
            width: 15%;
            display: flex;
            justify-content: end;
            position: relative;
            .borderAction{
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #ccc;
                height: 50%;
                padding: 12px 20px;
                border-radius: 50px;
                font-size: 36px;  
                 &:hover{
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    transition: .4s;
                    cursor: pointer;
                }

                .userAvatar{
                    display: flex;
                    justify-content: flex-end;
                    .avatarHeader{
                        width: 60%;
                        border-radius: 50%;
                    }
                }
            }

           
        }

    }
    .inforNav{
        padding: 10px 0;
        position: absolute;
        border: none;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #fff;
        transition: opacity 0.5s ease-in-out;
        width: 100%;
        top: 60%;
        z-index: 5;
        transition: .4s;
        .register{
                font-weight: 600;
        }

        span{
            font-size: 16px;            
        }

        ul>li{
            padding: 4px 16px;

            &:hover{
                background-color: rgba($color: #ccc, $alpha: 0.3);
                cursor: pointer;
                transition: .4s;
            }
        }
    }

   
}