.blogManagement{
    display: flex;
    background-color: var(--color-background);

    .sidebarLessorManagement{
        width: 20%;
    }

    .blogManagementContent{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-top: 60px;
    }
}