.userManagementContent1 {
  padding: 20px;
}

.userTypeButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search {
  flex-grow: 1;
}

.listUserManagerAdmin {
  margin-top: 20px;
}

.listUserManagerAdmin table {
  width: 100%;
}

.listUserManagerAdmin th,
.listUserManagerAdmin td {
  padding: 12px;
}

.listUserManagerAdmin th {
  background-color: #f0f0f0;
}

.listUserManagerAdmin tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.listUserManagerAdmin tbody tr:hover {
  background-color: #eaeaea;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .MuiTablePagination-input,
.pagination .MuiTablePagination-select {
  margin-right: 20px;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.modalContent input {
  margin-bottom: 10px;
}

.modalContent button {
  margin-top: 10px;
}

.MuiOutlinedInput-input {
  height: 100% !important;

}

